# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Models
models/
*.joblib
*.cbm

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/